<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venshmo</title>
</head>
<body>
    <h1>Venshmo</h1>
        <a href="/users/new">Register</a><br>
        <a href="/transaction/new">New transaction</a>
        <a href="/users/edit">Edit user info (temporary all access)</a>

        <% for (let transaction of transactions) { %>
            <li>
                <%=transaction._id%>
            </li>
            <ul>
                <li>
                    <%=transaction.type%>
                </li>
                <li>
                    <%=transaction.to%>
                </li>
                <li>
                    <%=transaction.amount%>
                </li>
            </ul>
            <% } %>

</body>
</html>