<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Transaction</title>
</head>
<body>
    <h1>New Transaction</h1>

    <form action="/transaction" method="POST">
        <label for="type">Pay or Request?</label>
            <select name="transaction[type]">
                <option value="pay" selected>Pay</option>
                <option value="request">Request</option>
            </select>

        
        <label for="to">Recipient</label>
            <select name="transaction[to]">

                <!-- Alphabetize this list later -->
                <% for (let user of users) { %> 
                    <option value="<%=user.userName%>"><%=user.userName%></option>
                <% } %>

        <label for="amount">Amount $</label>
            <input type="number" id="amount" name="transaction[amount]">

        <button>Submit transaction</button>
    </form>
    
    <a href="/">Home</a>
</body>
</html>